<div class="row">
  <div class="col-xl-6">
    <div>
      <strong><h6 class="app-title">Parent component</h6></strong>
      <table class="table table-striped table-bordered">
        <thead>
          <th class="text-center">Id</th>
          <th class="text-center">Employee Name</th>
          <th class="text-center">Location</th>
          <th class="text-center">Department</th>
          <th class="text-center">Salary</th>
          <th class="text-center">Actions</th>
        </thead>
        <tbody>
          <tr  *ngFor="let emp of employees">
            <td>{{emp.id}}</td>
            <td>{{emp.firstName}} {{emp.lastName}}</td>
            <td>{{emp.location.city}}, {{emp.location.state}} - {{emp.location.zipCode}} </td>
            <td>{{emp.department}} </td>
            <td>{{emp.salary}}</td>
            <td>
              <div class="hstack gap-3">
                <button type="button" class="btn btn-sm btn-outline-danger" (click)="editEmployeeDetails(emp)">Edit</button>
                <div class="vr"></div>
                <button type="button" class="btn btn-sm btn-outline-success" (click)="getEmployeeDetails(emp)">Details</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-xl-6">
    <div>
      <strong><h6 class="app-title">Child component</h6></strong>
      <ng-container *ngIf="employee">
        <app-edit-details [employee]="employee" [disableForm]="disableForm" (employeeSaved)="onSaveClick($event)"></app-edit-details>
      </ng-container>
    </div>
  </div>
</div>
